<?xml version="1.0"?>
<launch>
    <arg name="roomdirectory" default="/tmp"/>

    <node pkg="amcl" type="amcl" name="amcl" output="screen">
        <param name="rosout_disable_topics_generation" value="True"/>
        <param name="transform_tolerance" value="0.5"/>
        <param name="update_min_d" value="0.05"/>
        <param name="update_min_a" value="0.02"/>
        <rosparam file="$(arg roomdirectory)/latestposition.yaml" command="load"/>
    </node>
</launch>