<?xml version="1.0"?>
<launch>
    <node name="imu" pkg="roomba500" type="imu.py" output="screen" respawn="false">
        <param name="rosout_disable_topics_generation" value="True"/>
        <param name="pollingRateInHertz" value="30"/>
    </node>

    <!--<node name="imu" pkg="roomba500" type="imu_raw.py" output="screen" respawn="false">
        <param name="rosout_disable_topics_generation" value="True"/>
        <param name="pollingRateInHertz" value="30"/>
    </node>

    <node name="madgwick" pkg="imu_filter_madgwick" type="imu_filter_node" output="screen" respawn="false">
        <param name="use_mag" value="False"/>
        <param name="remove_gravity" value="True"/>
        <param name="publish_tf" value="False"/>
    </node>-->

</launch>
