<?xml version="1.0"?>
<launch>
    <rosparam param="enable_statistics">true</rosparam>

    <arg name="createmap" default="false"/>
    <arg name="loadmap" default="false"/>
    <arg name="mapfile" default=""/>
    <arg name="initialx" default="0"/>
    <arg name="initialy" default="0"/>
    <arg name="initialyaw" default="0"/>
    <arg name="roombalog" default="unknown"/>
    <arg name="debugimagelocation" default="unknown"/>

    <include file="$(find roomba500)/launch/hardware.launch"/>

    <group if="$(arg createmap)">
        <include file="$(find roomba500)/launch/slam.launch"/>
   </group>

    <group if="$(arg loadmap)">
        <node pkg="map_server" type="map_server" name="map_server" output="screen" args="$(arg mapfile)">
            <param name="rosout_disable_topics_generation" value="True"/>
        </node>

        <include file="$(find roomba500)/launch/amcl.launch">
            <arg name="initialx" value="$(arg initialx)"/>
            <arg name="initialy" value="$(arg initialy)"/>
            <arg name="initialyaw" value="$(arg initialyaw)"/>
        </include>
    </group>

    <include file="$(find roomba500)/launch/navigation.launch"/>

    <include file="$(find roomba500)/launch/highlevel.launch">
        <arg name="debugimagelocation" value="$(arg debugimagelocation)"/>
    </include>

</launch>